
body{
   background-color:rgb(35, 231, 35);
  }
  .App{
    background-color:rgb(35, 231, 35);
    min-height:500px;
    width: 400px;
    margin: 40px auto;
    border-radius: 10px;
  }
  
#to-do-form input{
    background-color: rgb(255, 0, 0);
    border: 0; 
    color:rgb(12, 12, 12);
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
  }
  #to-do-form input::placeholder{
    color: rgba(255,255,255,0.5);
  }
  #to-do-form input:focus{
    outline: none;
  }
  #to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    background-color:rgb(155, 155, 153);
    cursor: pointer;
  }
  #to-do-form button:focus{
    outline: none;
  }
